* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-shadow: none;
	text-decoration: none;
	-webkit-transition: linear .25s all;
	-moz-transition: linear .25s all;
	-o-transition: linear .25s all;
	transition: linear .25s all;
}
html, body, iframe {
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #DDD;
}
body {
	display: flex;
	flex-direction: column;
}
@media(max-width: 635px) {
	html {		
		font-size: 9px;
	}
}
@media(min-width: 1500px) {
	html {		
		font-size: 22px;
	}
}
::-webkit-scrollbar {
	width: .5rem;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .3);
}

/*==============  TOP HEADER  ================*/
#top {
	background: #451A55;
	border-bottom: solid .05rem #888;
	height: 3.8rem;
	text-align: center;
}
#top > * {
	display: inline-block;
	vertical-align: middle;
}
.hidden #top {
	margin-top: -3.8rem;
}

/*==============  BUTTONS  ================*/
#all-btn {
	float: right;
}
.btn {
	position: relative;
	display: inline-block;
	padding: .3rem;
	margin: .6rem;
	border-radius: .6rem;
	background: rgba(0, 0, 0, .3);
}
.btn svg {
	width: 2rem;
	fill: #FFF;
	vertical-align: middle;
}

/*==============  HISTORY BUTTONS  ================*/
#history {
	position: relative;
	display: inline-block;
}
#add-history {
	vertical-align: top;
}
#history-list {
	position: absolute;
	top: calc(100% - .7rem);
	right: -28rem;
	width: 25rem;
	max-height: 23rem;
	background: #664471;
	color: #FFF;
	text-align: left;
	padding: .5rem 1rem;
	border-radius: .5rem;
	overflow: auto;
	visibility: hidden;
	opacity: 0;
}
#history.active > #history-list {
	right: .6rem;
	visibility: visible;
	opacity: 1;
}
#history .btn {
	margin-left: 0;
}
#history.active > .btn {
	background-color: #664471;
}
#history-list > div {
	display: flex;
	align-items: center;
	margin: .3rem;
	border-bottom: solid .05rem rgba(0, 0, 0, .3);
}
#history-list a {
	color: #FFF;
	margin: .5rem 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#history-list a:last-child {
	min-width: 1.4rem;
	fill: #FFF;
	margin-left: auto;
}
#history-list a:hover, #history-list a:focus {
	opacity: .5;
}

/*==============  HIDE BUTTON  ================*/
#hide {
	position: fixed;
	top: 0;
	left: 0;
}
.hidden #hide {
	box-shadow: 0 0 .5rem #000;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/*==============  LOGO  ================*/
#logo {
	padding: .1rem;
	margin: 0 .5rem 0 3.8rem;
}
#logo > img {
	display: block;
	height: 3.6rem;
}
#logo:hover, #logo:focus, .btn:hover, .btn:focus {
	background-color: #664471;
	border-radius: 50%;
}

/*==============  SEARCH  ================*/
form {
	position: relative;
	width: 40rem;
	max-width: calc(100% - 17rem);
}
input {
	padding: .4rem 7.5rem .4rem 1rem;
	font-size: 1.3rem;
	vertical-align: middle;
	color: rgba(69, 26, 85, .8);
	width: calc(100% - 8.7rem);
	border-radius: 2rem;
}
form a {
	position: absolute;
	top: 0;
	right: 5rem;
	display: none;
	height: 100%;
	padding: 0 .5rem;
	cursor: pointer;
	border-radius: 2rem;
}
form a.show {
	display: flex;
}
form a svg {
	width: 1.5rem;
	fill: #333;
}
form a:hover, form a:focus {
	opacity: .5;
}
button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: #BBB;
	padding: 0 1.5rem;
	cursor: pointer;
	border-radius: 2rem;
}
button svg {
	width: 2rem;
	fill: #333;
	vertical-align: middle;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
button:hover, button:focus {
	background: #999;
}
